

html, body {
    margin: 0;
    height: 100%;
    font-family: campton;
}

.active-container {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  overflow: auto;
  background-color: #d3d3d3;
  max-width: 1000px;
  min-width: 600px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
}

.canvas {
  display: flex;
  flex-flow: row;
  align-items: stretch;

}



th {
  color: white;
  font-size: 20px;
  font-weight: normal;
  height: 40px;
  min-width: 200px;
  background-color: #297BFF;
  margin-bottom: 5px;
}

td {
  color: white;
  background-color: black;

  padding: 5px 20px 5px 20px;
}

table{
  margin-left: auto;
  margin-right: auto;
}

.name {
  min-width: 338px;
}

.population {
  min-width: 202px;
}

.control-panel {
  margin-left: 10px;
  margin-top: 10px;
  height: 130px;
  background-color: black;
  width: 300px;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  padding: 20px 20px 20px 20px;
  color: white;
}

.load-button {
  width: 100%;
  font-size: 20px;
  background-color: #297BFF;
  margin-top: 0px;
  margin-bottom: 10px;
  height: 40px;
  padding: 15px 0px 0px 0px;
  text-align: center;
}

.load-button:hover{
  background-color: #CC005B;
  color: black;
}

.presentation-area {
  width: 700px;
  /*background-color: red;*/
  margin-top: 180px;
  margin-right: 10px;
}

.header-container {
  display: -webkit-flex;
  justify-content: space-between;
  display: flex;
  height: 60px;
  background-color: black;
  color: white;
  padding: 20px 20px 0px 20px;
  border-bottom: 12px solid #297BFF;
}

.pCalc-header {
  font-size: 40px;
  height: 40px;
}
