
<div class="spotify-display"  >
  <div  ng-repeat="album in albums | orderBy: -date">
    <div class="spotify-container" ng-click="faceUp = !faceUp", ng-show="faceUp">
        <img class="spotify-image" src="{{ album.images[0].url }}" href="{{ album.external_urls.spotify }}">
        <!-- <input type="submit" class="nav-button" value="S O N G S" ng-click='getSongs($index)'> -->
    </div>
    <div class="spotify-container-flipped"  ng-hide="faceUp">
      <div class="spotify-flipped-header-container">
        <img class="spotify-header-image" src="{{ album.images[0].url }}">
        <div class="spotify-header">
          <div class="spotify-album-title"> {{ album.name }}</div>
          <div class="spotify-album-title"> {{ artist }}</div>
          <div class="spotify-album-links"> <a href="{{ album.external_urls.spotify }}">Launch in Spotify</a></div>
        </div>
      </div>

      <div class="spotify-tracks" >
        <div class="spotify-track-container" ng-repeat="track in album.tracks.items" ng-model="track.preview_url" >
          <div class="spotify-track-info">
          {{ track.name }}
          </div>
          <div class="spotify-track-controls">
            <img class="play-button" ng-hide="playing" ng-click="playing = !playing; playSong(track.preview_url)" src="escapists/styles/images/icons/play-button.png">
            <img class="pause-button" ng-show="playing" ng-click="playing = !playing; pauseSong(track.preview_url)" src="escapists/styles/images/icons/pause-button.png">
          </div>
        </div>
      </div>
      <div class="spotify-flip" ng-click="faceUp = !faceUp">...</div>
    </div>
  </div>
</div>
