<div class="shows-display">


  <div class="upcoming-shows-display">
    <p class="upcoming-shows-header" ng-click="showUpcoming = !showUpcoming">Shows</p>
    <div  class="upcoming-shows-container" ng-repeat="show in upcomingShows" ng-show="showUpcoming">
      <p class="upcoming-show-title">{{ show[0] }}</p>
      <p class="upcoming-show-time">Time: {{ parseDateData(show.start.datetime) }}</p>
      <p class="upcoming-show-venue">Venue: {{ show[0] }}</p>
      <p class="upcoming-show-link"> <a href="{{ show.uri }}">Details</a></p>
    </div>
  </div>

<div class="past-shows-display">
  <p class="past-shows-header" ng-click="showPast = !showPast">Archive</p>
  <div  class="past-shows-container" ng-repeat="show in pastShows" ng-show="showPast">
    <p class="past-show-time">{{ parseDateData(show.start.datetime) }}</p>
    <p class="past-show-venue">{{ show.venue.displayName}}</p>
    <p class="past-show-city">{{ show.location.city }}</p>

    <p class="past-show-link"> <a href="{{ show.uri }}">Details</a></p>
  </div>
</div>



</div>
